

                                    /* GENERAL */

html 
{
    overflow-wrap: break-word;
    
}

 @font-face 
{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal; 
}
body 
{
    border: 1px solid grey;
    display:flex; 
    height: 1684px;
    margin:0;
    min-width: 300px;
    width: 1187px;
    padding:0;
    margin-top: 0;
    font-family: 'Roboto' , Arial , sans-serif;
    font-size: 17px;
    opacity: 0.7;
    
    
    
}

ul, li 
{
    margin-left: 23px;
    padding-left: 23px;
}

ul 
{
    list-style-type: none; 
    margin-left: 0;
    padding-left: 0;  
}

em
{
    font-weight: bold;
    
}

                                      /* LISERET  */


 aside#strip
{
    
    display: inline-flex;
    flex-direction: column;
    /* justify-content: space-around; */ 
	width: 383px;
	background-color: #FFC400;
}

.phot                            /* NE PAS TOUCHER */
{
  display: block;
  width: 218px;
  height: 216px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 63px;
  margin-left: 78px; 
  margin-bottom: 40px;
  margin-right: 82px;
  border: 4px solid rgba(0,0,0, 0.2);
  
}

.image-ronde
{
    object-fit: cover;
    object-position: center;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    
}


.contact 
{
    /* border: 1px solid black; */ 
    text-align: center; 
    font-size: 28px;        /* 22 */ 
    padding-top: 7px;      /* 16 */
    padding-bottom: 4px;  /* 12 */
    margin:0;
    /* padding: 0; */
    color: #FFC400 ;
    background-color: #424242 ;
    letter-spacing: 1px;
}

.inquiry
{
    /* border: 1px solid black; */
    padding-top: 18px;

}

.about
{
    /* border: 1px solid black; */
    text-align: center;
    /* padding-top: 10px;
    padding-bottom: 8px; */ 
    height: 30px;
    color: #FFC400 ;
    background-color: #424242 ;
}

.description  
{
    margin-left: 23px;
    padding-left: 23px;
}

.hobbies
{
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    padding-top: 14px;
    padding-bottom: 12px;
    
    color: #FFC400 ;
    background-color: #424242 ;
}


.space
{
    padding-bottom: 15px;
}


.ballon , .manette , .golf
{
    height: 50px;
    width: 50px;
}

.picto
{

    height: 80px;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

                            /* partie de droite */

main#contain
{           
    display: flex;
    flex-direction: column;        
    margin-left: 63px;
    margin-right: 50px; 
    justify-content:space-around;
} 


.formation1 , .date  , .formation2 , .exp11  , .exp12 , .reco1 , .reco2 
{
    width:50%;
}



#MTP, #Paris, #SEY, #reco , #TLN
{
    
    display: flex;
    justify-content:space-between;
    
}

strong
{
    color: #FFC400;
}

h1
{
    font-size: 70px ;
}

h1 , h2  
{
    margin:0;
}

span
{
    font-size: 40px; 
    font-weight: normal;
} 

hr
{
    display: none;
}

.bord
{
    width: 80px;
    border: 1px solid #FFC400;
}

h2
{
    border-bottom: 2px solid #FFC400;
    font-size: larger;
}

i
{
    margin-right: 30px;
}

.graduation
{
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-right: 20px;
}
