

                                    /* GENERAL */

html 
{
    min-height:100vh;
    min-width: 100vh;
    overflow-wrap: break-word;
}

@font-face 
{
    font-family: 'police';
    src: url('police.ttf');
    font-weight: normal;
    font-style: normal;
}
body 
{
    border: 1px solid black;
    display:flex; 
    margin:auto;
    min-height: 100vh;
    min-width: 100vh;
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'police' , Arial , sans-serif; 
    
}

ul, li 
{
    margin-left: 4%;
    padding-left: 4%;
}

ul 
{
    list-style-type: none; 
    margin-left: 0;
    padding-left: 0; 
}

em
{
    font-weight: bold;
}

                                      /* LISERET  */


 aside#strip
{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	width: 20%;
    min-height: 100vh; 
	background-color: #FFC400;
}

.contact , .about , .hobbies
{
    text-align: center;
    font-size: 30px;
    color: #FFC400 ;
    background-color: #424242 ;
}

.phot 
{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.image-ronde
{
    object-fit: cover;
    object-position: center;
    width: inherit;
    height: inherit;
    border-radius: inherit;

}

.description  
{

    margin-left: 4%;
    padding-left: 4%;
}

.ballon , .manette , .golf
{
    height: 50px;
    width: 50px;
}

.picto
{

    height: 80px;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

                            /* partie de droite */

main#contain
{           
    display: flex;
    flex-direction: column;       
    width:85%; 
    margin-left: 5%;
    margin-right: 5%; 
    justify-content:space-around;
} 

#TLN 
{
    display: flex;
    justify-content: space-between;    
}

.formation1 , .date  , .formation2 , .exp11  , .exp12 , .reco1 , .reco2 
{
    width:50%;
}



#MTP, #Paris, #SEY, #reco
{
    
    display: flex;
    justify-content:space-between;
    
}

strong
{
    color: #FFC400;
}

h1
{
    font-size: 70px ;
}

h1 , h2  
{
margin:0;
}

span
{
 font-size: 40px; 
 font-weight: normal;
} 

hr
{
display: none;
}

.bord
{
    width: 80px;
    border: 1px solid #FFC400;
}

h2
{
    border-bottom: 1px solid #FFC400;
}

i
{
    margin-right: 2%;
}
